/* Defining root and fonts */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  
    background-color: #14131F;
}

body {
    width: 100%;
    
}

h1 {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 84px;
    line-height: 1
}

h3 {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 46px;
}

a {
    text-decoration: none;
}



button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none
}

.lighterBackground{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 100px 100px;
    margin: 0 auto;   
}

.darkerBackground {
    width: 100%;
    padding: 100px 100px;
    background-color: #0C0C18;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box; 
}

/* Hero section */

.hero {
    width: 100%;
    padding: 150px 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.imgContainer {
    display: grid;
    place-items: center; 
    max-width: 650px;
    width: 100%;
    z-index: 1;
    position: relative;
    place-items: center;
    margin-left: 2em; 
}

.heroImage {
    transition: all 0.3s ease;
    width: 100%;
    height: auto;
    display: block;
}

.heroImage:hover {
    filter: blur(2px);
}

.imgText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.imgContainer a:hover {
    display: grid;
    place-items: center;
}

.imgContainer a:hover .imgText {
    display: block;
    opacity: 1;
}

.heroTexts {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 5% 0;
}

.coolText1 {
    color: #B14CFF;
}

.coolText2 {
    color: #F42869;
}


.descriptionText {
    color: #C2C2C2;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 24px;
    max-width: 750px;
    padding: 20px 0;

}

.buttonDiv {
    padding: 0px 0px;
    display: flex;
}

.buttonExplore {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color:#FFFFFF;
    background-image: linear-gradient(45deg, #8833EA, #F42869);
    
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    border: 2px solid white;
    
    border-style: solid;
    
    border-radius: 15px;
    
  
    transition: transform 0.3s ease, border-color 0.3s ease; 
}


.buttonExplore:hover {
    transform: scale(1.05);
    border-color: transparent;
}



.buttonSamples {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
    background-color: transparent;
    margin-left: 20px;
    border: solid 2px #8833EA; 
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s, border-color 0.3s;
}

.buttonSamples:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8833EA; 
    z-index: -1;
    transition: width 0.3s;
    border-radius: 00px;
    width: 0%;
    
}

.buttonSamples:hover {
    color: #fff; 
    border-color: #8833EA; 
   
    
}

.buttonSamples:hover:before {
    width: 100%;
}



/* Media Queries for responsiveness */ 

@media (max-width: 480px) {
    body {
      
    }

    h1 {
        font-size: 36px; 
    }

    
  }
  
  
  @media (max-width: 620px) {
    body {
 
    }
  }
  
 
  @media (max-width: 768px) {
    body {
      
    }
    h1 {
        font-size: 48px; 
    }

    .logoText {
     display: none;    
    }

    .buttonDiv {
        
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .buttonExplore {
        min-width: 100%;
    }

    .buttonSamples {
        margin: 2vh 0;
        min-width: 100%;   
    }

    .hero,  .darkerBackground, .lighterBackground  {
        padding: 100px 50px;
    }

  }
  
  
  @media (max-width: 1060px) {
    body {
      
    }

    .descriptionText {
        font-size: 20px;
    }

    h1 {
        font-size: 56px; 
    }

    .logoText {
        font-size: 24px; 
    }
    .hero {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .imgContainer {
        margin: 0;
        width: 100%;
    }
 

    .buttonExplore {
        width: 40%;
    }

    .buttonSamples {
        width: 40%;
    }
  }
  

  @media (max-width: 1200px) {
   
    h1 {
        font-size: 64px; 
    }
  }
  
 
  @media (max-width: 1500px) {
    body {
      
    }
    h1 {
        font-size: 72px; 
    }

    .descriptionText {
        font-size: 22px;
    }
  }